.App {
  background-color: #f7f7f7;
  padding-left: 4%;
  padding-right: 4%;

  .divide-list-head {
    padding-top: 2%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    button {
      height: 30px;
      width: 100px;
      background-color: #ea5455;
      border: 0;
    }
  }

  .list-head {
    .list-item {
      display: flex;
      flex-wrap: wrap;
      .item {
        width: 100px;
        text-align: center;
        background-color: #eeeeee;
        margin: 2% 2%;
        padding: 20px 0;
      }
      .add-item {
        width: 100px;
        height: 56px;
        margin: 2% 2%;
      }
    }
  }
}
